body {
  background-color: rgb(14, 12, 12);
  
color: white;
}


.div-paleta {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
justify-content: center;
}

.div-paleta > * {
  flex: 1;
}

.boton-generador {
background: none;
border: 2px solid white;
border-radius: 10px;
padding: 10px 20px;
color: white;
cursor: pointer;
margin-bottom: 40px;
}

.contenedor {
  text-align: center;
}